div.proj_content {
    border: #000 solid 2px;
    clear: left;
    padding: 1em;

}

input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-align: center;
  font: 14px;
  width: 60px;
}
.axis path,
.axis line {
  fill: none;
  stroke-width: 2px;
  stroke: #000;
  shape-rendering: crispEdges;
}
.btn-halo{
  color: #333;
  background-color:#66c2a5;
  border-color: #ccc;
}
.btn-disk{
  color: #333;
  background-color:#fc8d62;
  border-color: #ccc;
}
.btn-bulge{
  color: #333;
  background-color:#8da0cb;
  border-color: #ccc;
}
.line {
  fill: none;
  stroke-width: 3px;
}


.line.disk{
    stroke:#fc8d62;
}

.line.halo{
    stroke:#66c2a5;
}
.line.bulge{
    stroke:#8da0cb;
}
.line.total{
    stroke-dashoffset: 4px;
    stroke-dasharray: 4 4;
    stroke:black;
}
.line.modes{
    stroke:black;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}
